/*
  This is how you do a comment in css
*/

h1 {
  height: 50px;
  background-color: black;
  color: white;
}
h2 {
  font-family: sans-serif;
  background-color: gray;
  border-style: solid;
  border-color: indigo;
  border-width: 10px;
  padding: 15px;
}

p {
  font-size: 18pt;
  color: darkslategray;
}

.margin-large {
  margin: 20px;
}

#super-heading {
  font-size: 72pt;
}

.sticky {
  
}
